{{ .Scratch.Set "body-class" "page-single wh" }}

{{ partial "head" . }}

<header class="header-rounded large bg-blue gradient bg-assets">
  <div class="container text-center">
    <h1 class="text-shadow">Assets</h1>
    <h3 class="text-shadow subtitle">All the Berty graphical resources</h3>
  </div><!-- /.container -->
</header>

<div class="content">
  <div class="container">

    {{ $categories := .Site.Taxonomies.categories }}
    {{ range $cat := .Site.Params.category_order }}
      {{ $category := index $categories $cat }}

      {{ with $category }}

      <section class="section-assets">
        {{ if not (eq .Page.Title "logo_official") }}
          <div class="row">
            <div class="col">
                <h2 class="category-title">
                  <a href="{{ .Page.RelPermalink }}">{{ replace .Page.Title "_" " " | title }}</a>
                </h2>
              </div><!-- /.col -->
          </div><!-- /.row -->
          {{ end }}
          <div class="row">
            {{ range where .Page.RegularPages "Params.show_in_list" true }}
              {{ partial "block_thumbnail" (dict "page" . "ctx" $) }}
            {{ end }}
          </div><!-- /.row -->
      </section>

      {{ end }}
    {{ end }}

  </div><!-- /.container -->
</div><!-- /.content -->

{{ partial "footer" . }}
