{{ $shown_assets := slice "jpg" "jpeg" "png" "gif" "svg" }}
{{ $resizable_assets := slice "jpg" "jpeg" "png" }}

{{ partial "head" . }}

<div class="container">
  <div class="row">
      {{ range.Page.RegularPages }}
      {{ $asset := resources.Get .Params.file_path }}
      {{ if in $shown_assets $asset.MediaType.SubType }}
    
        {{ if in $resizable_assets $asset.MediaType.SubType }}
          {{ $asset = $asset.Resize "200x" }}
        {{ end }}
    
        <a class="d-block p-2" href="{{.RelPermalink}}">
          <img style="max-width: 200px;" src="{{ $asset.Permalink }}" />
        </a>
        
      {{ end }}
    {{ end }}
  </div>
</div>

{{ partial "foot" . }}
