{{ $asset := resources.Get .Params.file_path }}

{{ .Scratch.Set "body-class" "page-single wh" }}

{{ partial "head" . }}

<header class="header-rounded large bg-blue bg-gradient">
  <div class="container">
    <div class="subnav">
       <a class="btn btn-bty btn-transparent" href="/"><i class="far fa-arrow-left"></i>Back to list</a>
    </div><!-- /.subnav -->
  </div><!-- /.container -->
</header>

<div class="content">
  <div class="container">
    <section class="section-main">

      <div class="row">
        <div class="col-5">
          <div class="block block-large bg-white">
            <img src="{{ partial `asset-image` . }}">
          </div>
        </div><!-- /.col -->
        <div class="col-7">
          <div class="block block-details bg-white">
            <div class="row">
              <div class="col-md-7">
                <div class="block-details-info">
                  {{ .Params.file_name }}
                </div>
              </div><!-- /.col -->
              <div class="col-md-5">
                <div class="block-details-button">
                  <a class="btn btn-bty btn-blue icon-left" href="{{ $asset.RelPermalink }}"><i class="far fa-arrow-circle-down"></i>Download file</a>
                </div>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.block-details -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </section>

    <section class="section-related">
    {{ $related_assets := where .Site.RegularPages "Params.folder_id" .Params.folder_id }}
    {{ if gt (len $related_assets) 1 }}
    <div class="row">

      <div class="col-md-12 text-left my-4">
        <h3>Related assets</h3>
      </div>

      {{ range where .Site.RegularPages "Params.folder_id" .Params.folder_id }}
        {{ if ne .Params.file_name $.Params.file_name }}
        {{ partial "block_details" (dict "page" . "ctx" $) }}
        {{ end }}
      {{ end }}

    </div>
    {{ end }}
    </section>
    
  </div><!-- /.container -->
</div><!-- /.content -->

{{ partial "footer" . }}

