{{ $shown_assets := slice "jpg" "jpeg" "png" "gif" "svg" }}
{{ $resizable_assets := slice "jpg" "jpeg" "png" }}

{{ range .assets }}
  {{ $page := . }}
  {{ with .Params }}
  {{ with .file_path }}

  {{ $asset := resources.Get . }}
  {{ if in $shown_assets $asset.MediaType.SubType }}

    {{ if in $resizable_assets $asset.MediaType.SubType }}
      {{ $asset = $asset.Resize "200x" }}
    {{ end }}
    <div class="col-lg-2 col-md-3">
      <a class="block" href="{{$page.RelPermalink}}">
        <div class="block-inner">
          <img src="{{ $asset.RelPermalink }}" />
        </div>
      </a>
    </div>

  {{ end }}
  {{ end }}
  {{ end }}
{{ end }}