{{ $page := .page }}
{{ $ctx := .ctx}}
{{ with $page.Params }}
{{ with .file_path }}

  {{ if in $ctx.Site.Params.shown_assets $page.Params.media_type_sub }}

  <div class="col-12">

    <a class="block block-details" href="{{$page.RelPermalink}}">
      <div class="row">
        <div class="col-md-5">
          <div class="block-details-image">
            <img src="{{ partial `asset-image` $page | safeHTMLAttr }}" />
          </div>
        </div><!-- /.col -->
        <div class="col-md-4">
          <div class="block-details-info">
            {{ $page.Params.title }}
          </div>
        </div><!-- /.col -->
        <div class="col-md-3">
          <div class="block-details-button">
            <button class="btn btn-bty btn-blue icon-right">View file<i class="far fa-arrow-right"></i></button>
          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </a>

  </div><!-- /.col -->

  {{ end }}

{{ end }}
{{ end }}