{{ $page := .page }}
{{ $ctx := .ctx}}
{{ with $page.Params }}
{{ with .file_path }}

  {{ if in $ctx.Site.Params.shown_assets $page.Params.media_type_sub }}

  <div class="col-lg-2 col-md-3">

    {{ if $ctx.IsNode }}
      {{ $page.Params.parent_folder_title | title }}
    {{ end }}

    <a class="block" href="{{$page.RelPermalink}}">
      <div class="block-inner">
        <img src="{{ partial `asset-image` $page | safeHTMLAttr }}" />
      </div>
    </a>
  </div>

  {{ end }}

{{ end }}
{{ end }}